.textContainer {
    margin-top: 100vh;
    height: 40vh;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    justify-self: center;
}

.discoverContainer {
    display: flex;
    margin-top: 5vh;
    width: 70%;
    flex-direction: row-reverse;
    align-self: center;
    justify-content: space-evenly;
}

.discoverParent {
    background-color: #212121;
    display: flex;
    margin-top: 15vh;
    padding-bottom: 50px;
    justify-content: center;
    width: 100%;
}

.discoverCol {
    display: flex;
    flex-direction: column;
}

.discoverText {
    color: white;
    font-size: 0.7em;
    align-self: center;
    margin-top: 10px;
    opacity: 0.8;
    text-align: center;
    cursor: pointer;
}

.discoverText:hover {
    opacity: 1;
}

.discoverTitle {
    color: white;
    font-size: 0.9em;
    margin-bottom: 5px;
    font-weight: bold;
    align-self: center;
    text-align: center;
}
.videoClass{
    width: 100vw;
    margin-top: 70px;
}
.textContainerLast {
    margin-top: 15vh;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    justify-self: center;
}

.imgContainer {
    margin-top: 100px;
    display: flex;
    width: 100vw;
    align-self: center;
    flex-direction: row;
    justify-content: center;

}
.imageHomeContainer{
    margin-right: 5px;
    margin-left: 5px;
}
.imageHome {
    transition: transform .5s;
    width: 22vw;
    height: 100%;

}

.imageHomeContainer:hover .imageHome,
.imageHomeContainer:focus .imageHome {
    transform: scale(0.95);
    opacity: 0.9;
    cursor: pointer;
}

.imageHomeContainer:hover .imgText,
.imageHomeContainer:focus .imgText {
    transform: scale(0.95);
    opacity: 0.8;
    margin-top: 0.5%;
    cursor: pointer;
}

.imgText {
    color: rgba(255, 255, 255, 1);
    position: absolute;
    transition: all .5s;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 22vw;
    z-index: 2;
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: center;
}

.homeText {
    width: 50%;
    color: rgba(0, 0, 0, 0.4);
    font-size: 1em;
    align-self: center;
    text-align: center;

}

.homeTitle {
    width: 100%;
    color: black;
    font-size: 1.7em;
    text-align: center;
}
