.menuContainer {
    width: 100%;
    height: 70px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-direction: row;

}

.rightTextContainer {
    flex: 1;
    justify-content: space-evenly;
    display: flex;
    padding-left: 50px;
}
.rightText {
    align-self: flex-end;
    cursor: pointer;
    padding-bottom: 10px;
    font-size: 1.1em;

}

.menuImage {
    align-self: center;
    width: 27px;
    height: 27px;
    margin-left: 10px;
    cursor: pointer;
    justify-self: flex-end;
}

.rightMenu {
    justify-content: flex-end;
    padding-right: 2%;
}
.sideContainer {
    width: 33%;
    z-index: 2;
    padding-left: 2%;
    height: 100%;
    color: white;
    font-weight: 300;
    display: flex;
    justify-self: center;
}

.centerMenu {
    justify-content: center;
    padding: 0;
}

.leftMenu {
    justify-content: space-evenly;
}

span {
    align-self: center;
    color: #212121;
    font-size: 1.5em;
}
.menuImage:hover{
    opacity: 0.6;

}
.rightText:hover {
    opacity: 0.6;
}
